.child-campaign {
  .scroll-horizontal {
    overflow: auto;
    padding-bottom: 2px;
  }

  .button-add {
    width: 48px;
    height: 48px;
    border: 0;
    border-radius: 50%;
    padding: 12px;
    background-color: rgb(237, 237, 237);
    cursor: pointer;
  }

  .card {
    width: 210px;
    height: 120px;
    margin-left: 16px;
    cursor: pointer;
    border-radius: 4px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(250, 250, 250);

    &.active {
      border-color: rgb(33, 150, 243);
    }

    &__header {
      padding: 8px 8px 4px;
      h6 {
        margin-bottom: 0;

        svg {
          font-size: 14px;
          padding-left: 8px;
        }
      }
      .error {
        color: red;
      }
      h5 {
        margin-bottom: 0;
      }
    }

    &__content {
      padding: 0 8px;
    }
  }
}
